@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arizonia&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

.barlow {
  font-family: "Barlow", sans-serif;
}
.anton {
  font-family: "Anton", sans-serif;
}
.play-font {
  font-family: "Playfair Display", serif;
}
.curly-font {
  font-family: "Arizonia", cursive;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CSS for the dropdown menu */
.dropdown-menu {
  position: relative;
  display: inline-block;
}

.burger-icon {
  font-size: 64px;
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff; /* Background color for the dropdown menu */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Box shadow for the dropdown */
  z-index: 1;
  right: 0;
  top: 100%; /* Position the dropdown below the button */
  min-width: 160px; /* Set a minimum width for the dropdown */
}

/* Style for individual dropdown items */
.dropdown-content a {
  color: #333; /* Text color for dropdown items */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

/* Change the background color of the dropdown item on hover */
.dropdown-content a:hover {
  background-color: #f2f2f2; /* Background color on hover */
}

/* Show the dropdown when the button is hovered or clicked */
.dropdown-menu:hover .dropdown-content,
.dropdown-menu:focus-within .dropdown-content {
  display: block;
}
